<header class="makePublic d-flex align-items-center">
  <div class="container">
    <div class="intro-text align-items-start">
      <div class="intro-heading">
        <a href="/alumnusfees">동창회비</a>
      </div>
      <div class="text-right">
        <%= link_to "글쓰기", new_alumnusfee_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</header>
<div class="container my-5 table-responsive" style="min-height: 900px">
  <h3 class="text-center mb-4"></h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">시간</th>
      </tr>
    </thead>
    <tbody>
      <% @alumnusfees.each do |f| %>
        <tr data-link="<%= alumnusfee_path(f) %>">
          <th scope="row"><%= f.id %></th>
          <td><%= f.title %></td>
          <td><%= distance_of_time_in_words(f.created_at,Time.now) %> 전</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>