<%# TODO: show.html.erb template %>
<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h4 class="d-flex justify-content-between align-items-center text-weight-bold">
        <%= @notice.title %>
        <% if current_user.id == @notice.user.id %>
          <div>
            <%= link_to fa_icon("pencil 2x"), edit_notice_path(@notice), class: "btn text-success" %>
            <%= link_to fa_icon("trash-o 2x"), notice_path(@notice), method: :delete, class: "btn text-danger",data: {confirm: "진짜 삭제합니까?"}%>
          </div>
        <% end %>
      </h4>
      <h6 class="text-right text-muted mb-1"><%= @notice.user.name %></h6>
      <h6 class="text-right text-muted"><%= distance_of_time_in_words(@notice.created_at, Time.now) %> 전</h6>
      <p class="card-text mx-2">
        <%= @notice.content.html_safe %>
      </p>
    </div>
    <div class="card-body">
      <%= render 'nreplies/nreply' %>
      <%= render 'nreplies/nreplies' %>
    </div>
  </div>
</div>