<div class="row">
	<%= form_for([@card,@creply],html: { class: "w-100 d-flex flex-nowrap"}) do |c| %>
		<%= c.hidden_field :card_id, value: @card.id %>
		<%= c.hidden_field :user_id, value: current_user.id %>
		<%= c.text_field :content, class: "form-control rounded-0 border-right-0 ml-2" %>
		<%= button_to "댓글", card_creplies_path(@card), method: :post, class: "btn btn-white border rounded-0 mr-2" %>
	<% end %>
</div>