<div class="container my-4">
  <%= form_for(@handout, html: { multipart: true }) do |h| %>
    <%= h.hidden_field :user_id, value: current_user.id %>
    <div class="form-group">
      <%= h.label :title, value: "제목" %>
      <%= h.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= h.label :content, value: "내용" %>
      <%= h.text_area :content, class: "tinymce", :rows => 15, :cols => 120 %>
      <%= tinymce %>
    </div>
    <div class="form-group">
      <%= h.label :file, value: "학습자료" %>
      <%= h.file_field :file, class: 'form-control' %>
    </div>
    <%= button_to "게시하기", handouts_path, method: :post, class: "btn btn-primary" %>
  <% end %>
</div>