<div class="row">
	<%= form_for([@card,@creply],html: { class: "w-100 d-flex"}) do |c| %>
		<%= c.hidden_field :card_id, value: @card.id %>
		<%= c.hidden_field :user_id, value: current_user.id %>
		<%= c.text_field :content, class: "form-control col-8 col-md-10 ml-3 mr-2 pr-2" %>
		<%= button_to "댓글", card_creplies_path(@card), method: :post, class: "btn btn-primary" %>
	<% end %>
</div>