<header class="w-100 header">
    <div class="container h-100 d-flex flex-column justify-content-center">
      <div class="d-flex flex-row justify-content-between">
        <h2>커뮤니티</h2>
        <p align="right">
          <%= link_to "글쓰기", new_card_path, class: "btn btn-info" %>
        </p>
      </div>
    </div>
</header>
<section class="container my-4 pt-0">
  <div class="row">
    <% @cards.each do |c| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-2">
        <div class="card">
          <%= image_tag(c.image.thumb) %>
          <div class="card-body">
            <h4 class="card-title"><%= c.title %></h4>
            <h6 class="card-subtitle mb-2 text-muted">@<%= c.user.nickname %></h6>
            <p class="card-text"><%= c.content %></p>
            <%= link_to "Show", card_path(c), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-1">
    <%= paginate @cards, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  </div>
</section>