<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h4 class="d-flex justify-content-between align-items-center text-weight-bold">
        <%= @card.title %>
        <div>
        <% if current_user.id == @card.user.id %>
          <%= link_to fa_icon("pencil 2x"), edit_card_path(@card), class: "btn text-success" %>
          <%= link_to fa_icon("trash-o 2x"), card_path(@card), method: :delete, class: "btn text-danger",data: {confirm: "진짜 삭제합니까?"}%>
        <% end %>
        </div>
      </h4>
      <div class="d-flex flex-row-reverse">
        <div class="text-right text-muted ml-1">
          <h6 class="mb-1"><%= @card.user.name %></h6>
          <h6 class=""><%= distance_of_time_in_words(@card.created_at, Time.now) %> 전</h6>
        </div>
      </div>
      <p class="card-text mx-2">
        <%= @card.content.html_safe %>
      </p>
      <div class="d-flex flex-wrap">
        <%#= TODO: 이미지 모양 이상%>
        <% @card.images.each do |image|%>
          <%= image_tag image, class: "img-fluid mx-auto",style:"max-width:100%;height:auto" %>
          <br>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <%= render 'creplies/creply' %>
      <%= render 'creplies/creplies' %>
    </div>
  </div>
</div>