<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "KNUP", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" id="myTab" role="tablist">
      <li class="nav-item">
        <%= link_to "소개", introduction_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "News", notices_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "학습자료실", handouts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "커뮤니티", cards_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to image_tag(current_user.proimg, height: '32', width: '32',class: "img-circular") + " " + current_user.name, userInformation_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", user_google_oauth2_omniauth_authorize_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>