<!DOCTYPE html>
<html>
  <head>
    <title>KNUP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="경북대학교 약학대학 학생 커뮤니티" />
    <meta property="og:title" content="KNUP">
    <meta property="og:image" content="../councils/KNUP.jpg">
    <meta property="og:description" content="경북대학교 약학대학 학생 커뮤니티">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="medicine2.png" type="image/gif" sizes="16x16">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_message' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
