<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="KNUP" />
    <meta property="og:url" content="http://fffff.knup.co.kr" />
    <meta property="og:image" content="http://fffff.knup.co.kr/councils/funnykangmin.jpeg" />
    <title>KNUP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
